@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Color */
    --white-color: #ffffff;
    --black-color: #201e1b;
    --primary-color: #fcfcea;
    --secondary-color: #201e1b;
    --light-pink: #fcfcea;
    --medium-gray-color: #ccc;
    --dark-transparent: #0000007d;
    --light-transparent: #e6ddc2;
    --brown-color: #49352b;
    --red-color: #bf1717;
    --yellow-color: #f1bd44;
    --green-color: #4caf50;
    --gray-color: #393939;
    --low-gray-color: #6f6f6f6f;
    --low-white-color: #ffffff6f;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site max width */
    --max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    max-width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--max-width);
}

.section-title {
    text-align: center;
    padding: 150px 0 30px;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: '';
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background-origin: var(--border-radius-s);
    background: var(--primary-color);
}

/* Nav */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--black-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--primary-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
    color: var(--white-color);
    font: var(--white-color);

}

.navbar .nav-menu .nav-item {
    padding: 8px 12px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    background-color: var(--gray-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-tool .nav-tool-link {
    color: var(--white-color);
    font-size: var(--font-size-l);
    margin-left: 12px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-tool .nav-tool-link .fa-heart {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-tool .nav-tool-link .fa-cart-shopping {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-tool .nav-tool-link .fa-cart-shopping:hover {
    color: var(--yellow-color);
}

.navbar .nav-menu .nav-tool .nav-tool-link .fa-heart:hover {
    color: var(--red-color);
}


.navbar .nav-menu .nav-tool .nav-tool-link:hover {
    color: var(--gray-color);
}

.navbar .nav-menu .nav-link:hover{
    color: var(--black-color);
    background: var(--light-pink);
    
}


 /* bonquet size */
.title_size {
    padding: 30px;
}

.container {
    margin: 0 auto;
    max-width: 994px;
    padding: 0 20px;

}

.Bonquet_size {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Bonquet_size > label {
    position:relative; 
    display: block; 
    border: 1px solid #bbb;
    border-radius: 0.5rem; 
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.Bonquet_size > input {
    display: none;
}

.Bonquet_size > label h4 {
    font-weight: 600; 
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_size > label p {
    color: #555;
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_size > label .price {
    font-weight: 600;
    font-size: 15px; 
    color:#222; 

}

.Bonquet_size > label:before {
    content: "";
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background: var(--low-gray-color);
    transform: scale(0);
    opacity: 0; 
    transition: all 250ms ease-in-out;
}

.Bonquet_size > label:after {
    content: "";
    position: absolute; 
    top: calc(0.5rem + 5px);
    right: calc(0.5rem + 5px);
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background: #efffef;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.Bonquet_size input:checked + label {
    background: var(--light-transparent); 
    border: 1px solid var(--medium-gray-color); 
    
}

.Bonquet_size input:checked + label:before, 
.Bonquet_size input:checked + label:after {
    transform: scale(1); 
    opacity: 1; 
}

 /*Flowers section */

.flower_image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    transition: 0.3s ease; 
}

.Bonquet_flowers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Bonquet_flowers> label {
    position:relative; 
    display: block; 
    border: 1px solid #bbb;
    border-radius: 0.5rem; 
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-align: center;
}

.Bonquet_flowers > input {
    display: none;
}

.Bonquet_flowers > label h4 {
    font-weight: 600; 
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_flowers > label p {
    color: #555;
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_flowers > label .price {
    font-weight: 600;
    font-size: 15px; 
    color:#222; 

}

.Bonquet_flowers > label:before {
    content: "";
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background: var(--low-gray-color);
    transform: scale(0);
    opacity: 0; 
    transition: all 250ms ease-in-out;
}

.Bonquet_flowers > label:after {
    content: "";
    position: absolute; 
    top: calc(0.5rem + 5px);
    right: calc(0.5rem + 5px);
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background: #efffef;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.Bonquet_flowers input:checked + label {
    background: var(--light-transparent); 
    border: 1px solid var(--medium-gray-color); 
    
}

.Bonquet_flowers input:checked + label:before, 
.Bonquet_flowers input:checked + label:after {
    transform: scale(1); 
    opacity: 1; 
}

 /* flowers section */

.flower_image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    transition: 0.3s ease; 
}

.Bonquet_wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Bonquet_wrap> label {
    position:relative; 
    display: block; 
    border: 1px solid #bbb;
    border-radius: 0.5rem; 
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-align: center;
}

.Bonquet_wrap > input {
    display: none;
}

.Bonquet_wrap > label h4 {
    font-weight: 600; 
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_wrap > label p {
    color: #555;
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_wrap > label .price {
    font-weight: 600;
    font-size: 15px; 
    color:#222; 

}

.Bonquet_wrap > label:before {
    content: "";
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background: var(--low-gray-color);
    transform: scale(0);
    opacity: 0; 
    transition: all 250ms ease-in-out;
}

.Bonquet_wrap > label:after {
    content: "";
    position: absolute; 
    top: calc(0.5rem + 5px);
    right: calc(0.5rem + 5px);
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background: #efffef;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.Bonquet_wrap input:checked + label {
    background: var(--light-transparent); 
    border: 1px solid var(--medium-gray-color); 
    
}

.Bonquet_wrap input:checked + label:before, 
.Bonquet_wrap input:checked + label:after {
    transform: scale(1); 
    opacity: 1; 
}

 /* ribbons section */

.Bonquet_ribbons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Bonquet_ribbons > label {
    position:relative; 
    display: block; 
    border: 1px solid #bbb;
    border-radius: 0.5rem; 
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-align: center;
}

.Bonquet_ribbons > input {
    display: none;
}

.Bonquet_ribbons > label h4 {
    font-weight: 600; 
    font-size: 15px;
    margin-bottom: 8px;
}

.Bonquet_ribbons > label .price {
    font-weight: 600;
    font-size: 15px; 
    color:#222; 

}

.Bonquet_ribbons > label:before {
    content: "";
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background: var(--low-gray-color);
    transform: scale(0);
    opacity: 0; 
    transition: all 250ms ease-in-out;
}

.Bonquet_ribbons > label:after {
    content: "";
    position: absolute; 
    top: calc(0.5rem + 5px);
    right: calc(0.5rem + 5px);
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background: #efffef;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.Bonquet_ribbons input:checked + label {
    background: var(--light-transparent); 
    border: 1px solid var(--medium-gray-color); 
    
}

.Bonquet_ribbons input:checked + label:before, 
.Bonquet_ribbons input:checked + label:after {
    transform: scale(1); 
    opacity: 1; 
}



 /* yung pang quantiti*/

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.quantity button {
    width: 30px; 
    height:30px; 
    border: 1px solid var(--low-gray-color);
    border-radius:  5px;
    background: var(--primary-color);
    font-size: 18px;
    transition:0.2s;
}

.quantity button:hover {
    background: var(--green-color); 
}

textarea{
    margin-bottom: 25%;
}


.total-footer {
    position: fixed;
    bottom:  0;
    left: 0; 
    width: 100%;
    padding: 15px 20px;
    background: var(--black-color)
    

}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:  20px;
    color: white;
    gap: 250px;
   
}

.checkout {
    padding: 10px 20px;
    border: none;
    background: var(--low-white-color);
    border-radius: 8px;
    cursor: pointer;
    align-items: end;
}

.checkout:hover {
    background: var(--green-color); 

}